// 1. Authorize the Feed Reader app at https://apps.twitter.com/app/9326497.
// 2. Copy this file to env.js
// 3. Fill in the appropriate values from the Twitter dashboard
process.env['CONSUMER_KEY']         = 'M98kLB50n1L8PcHnSo5Euw7EG'
process.env['CONSUMER_SECRET']      = 'TODO'
process.env['ACCESS_TOKEN_KEY']     = 'TODO'
process.env['ACCESS_TOKEN_SECRET']  = 'TODO'
