// 1. Create a Twitter app at apps.twitter.com and generate an access token
// 2. Copy this file to env.js
// 3. Fill in the keys and tokens from your Twitter app
process.env['CONSUMER_KEY']         = 'TODO'
process.env['CONSUMER_SECRET']      = 'TODO'
process.env['ACCESS_TOKEN_KEY']     = 'TODO'
process.env['ACCESS_TOKEN_SECRET']  = 'TODO'
